<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p><span th:text="${ManagerName}"/> had made a decision</p>
<p>----------------------------------------------------</p>
<p>Name:       <span th:text="${CourseName}"/></p>
<p>Lecturer:   <span th:text="${LectorName}"/></p>
<p>----------------------------------------------------</p>
<p>Decision:   <span th:text="${ManagerDecision}"/></p>
<p>Reason:     <span th:text="${ManagerReason}"/></p>
</body>
</html>