<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Course deleted by <span th:text="${LectorName}"/></p>
<p>----------------------------------------------------</p>
<p>Name:        <span th:text="${CourseName}"/></p>
<p>Category:    <span th:text="${CourseCategory}"/></p>
<p>Description: <span th:text="${CourseDescription}"/></p>
<p>Links:       <span th:text="${CourseLinks}"/></p>
<p>----------------------------------------------------</p>
<p>Previously course was rejected by the following votes:</p>
<p>----------------------------------------------------</p>
<p>Decision:   <span th:text="${ManagerDecision}"/></p>
<p>Reason:     <span th:text="${ManagerReason}"/></p>
<p>----------------------------------------------------</p>
<p>Decision:   <span th:text="${ManagerDecision2}"/></p>
<p>Reason:     <span th:text="${ManagerReason2}"/></p>
<p>----------------------------------------------------</p>
</body>
</html>