<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Please evaluate the course</p>
<p>----------------------------------------------------</p>
<p>Name:        <span th:text="${CourseName}"/></p>
<p>Category:    <span th:text="${CourseCategory}"/></p>
<p>Description: <span th:text="${CourseDescription}"/></p>
<p>Links:       <span th:text="${CourseLinks}"/></p>
<p>----------------------------------------------------</p>
<p>Please evaluate the course <a th:href="@{http://localhost:8080/courses/{id}/{actionType}(id=${CourseId}, actionType=${actionType})}">link</a></p>
</body>
</html>