<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Course was rejected by <span th:text="${vote}"/></p>
<p>----------------------------------------------------</p>
<p>Manager:    <span th:text="${ManagerName}"/></p>
<p>Decision:   <span th:text="${ManagerDecision}"/></p>
<p>Reason:     <span th:text="${ManagerReason}"/></p>
<p>----------------------------------------------------</p>
<p>Manager:    <span th:text="${ManagerName2}"/></p>
<p>Decision:   <span th:text="${ManagerDecision2}"/></p>
<p>Reason:     <span th:text="${ManagerReason2}"/></p>
<p>----------------------------------------------------</p>
<p>Update your course <a th:href="@{http://localhost:8080/courses/{id}/{actionType}(id=${CourseId}, actionType=${actionType})}">link</a></p>
</body>
</html>