<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" media="all"
        href="../../resourses/style.css"
        th:href="@{/resourses/style.css}">
</head>
  <body>
    <div class="container">
      <header>
        <h1>
          Approve Course
          <div class="logout">
            <span id="currentUserLogin" th:text="${session.SPRING_SECURITY_CONTEXT.Authentication.Principal.Username}"
                  th:if="${session.SPRING_SECURITY_CONTEXT.Authentication.Authenticated}">
              user-a@tc.edu
            </span>
            <a href="/logout">
              <i class="icon-off"></i>
            </a>
          </div>
        </h1>
      </header>

      <div class="alert alert-error" th:if="${errorMessage}">
        <div>
          <strong>Okay, Houston, we've had a problem here.</strong>
        </div>
        <ul th:each="error : ${errorMessage}">
          <li th:text="${error}"/>
        </ul>
      </div>

      <form class="form-horizontal" name="approveModel" th:object="${approveModel}" action="/courses/approve" method="post">
        <div class="control-group">
          <div class="control-label">Name</div>
          <div id="titleField" class="controls text" th:text="${course.name}">Project Management</div>
        </div>
        <div class="control-group" >
          <div class="control-label">Lecturer</div>
          <div id="ownerField" class="controls text" th:text="${course.owner}">lecturer-a@tc.edu</div>
        </div>
        <div class="control-group">
          <div class="control-label">Category</div>
          <div id="categoryField" class="controls text" th:text="${course.categoryName}">Development</div>
        </div>
        <div class="control-group">
          <div class="control-label">Description</div>
          <div id="descriptionField" class="controls text" th:text="${course.description}">Bla-bla-bla</div>
        </div>
        <div class="control-group">
          <div class="control-label">Links</div>
          <div id="linksField" class="controls text" th:text="${course.links}">Bla-bla-bla</div>
        </div>

        <input type="hidden" name="DM" th:value="*{DM}"/>
        <input type="hidden" name="KM" th:value="*{KM}"/>
        <input type="hidden" th:field="*{courseId}"/>
        <input type="hidden" th:field="*{DMName}"/>
        <input type="hidden" th:field="*{KMName}"/>

        <div class="control-group">
          <div class="control-label">Department Manager</div>
          <div id="dmField" class="controls text" th:text="*{DMName}">Alex Ivanov</div>
        </div>
        <div class="control-group" >
          <label class="control-label">Decision</label>
          <div class="controls">
            <select class="span5" th:field="*{DMStatus}" th:disabled="${approveModel.DM && approveModel.DMStatus==0}?false:true">
              <option value="0">Select one</option>
              <option value="1">Appove</option>
              <option value="-1">Reject</option>
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Reason</label>
          <div class="controls">
            <textarea class="span5" rows="3" name="DMNote" th:text="*{DMNote}" th:disabled="${approveModel.DM}?false:true"></textarea>
          </div>
        </div>

        <div class="control-group">
          <div class="control-label">Knowledge Manager</div>
          <div id="kmField" class="controls text" th:text="*{KMName}">Xela Vonavi</div>
        </div>
        <div class="control-group">
          <label class="control-label">Decision</label>
          <div class="controls">
            <select class="span5" th:field="*{KMStatus}" th:disabled="${approveModel.KM && approveModel.KMStatus==0}?false:true">
              <option value="0">Select one</option>
              <option value="1">Appove</option>
              <option value="-1">Reject</option>
            </select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Reason</label>
          <div class="controls">
            <textarea class="span5" name="KMNote" th:text="*{KMNote}" th:disabled="${approveModel.KM}?false:true"></textarea>
          </div>
        </div>
        <div class="form-actions actions-without-form">
          <button class="btn btn-primary" type="submit">Save</button>
          <a class="btn" href="/courses">Back</a>
        </div>
      </form>
    </div>
  </body>
</html>
