<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../resourses/style.css"
          th:href="@{/resourses/style.css}">
</head>
<body>
<div class="container">
    <header>
        <h1>
            <span>Unknown Course</span>
            <div class="logout">
            <span id="currentUserLogin" th:text="${session.SPRING_SECURITY_CONTEXT.Authentication.Principal.Username}"
                  th:if="${session.SPRING_SECURITY_CONTEXT.Authentication.Authenticated}">
              user-a@tc.edu
            </span>
                <a href="/logout">
                    <i class="icon-off"></i>
                </a>
            </div>
        </h1>
    </header>

    <div class="alert alert-error">
        <div>
            <strong>Okay, Houston, we've had a problem here.</strong>
        </div>
        <ul>
            <li>Unknown course</li>
        </ul>
    </div>

    <form class="form-horizontal">
        <fieldset>
            <div class="form-actions">
                <a class="btn" href="/courses">Cancel</a>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>
