<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../resourses/style.css"
          th:href="@{/resourses/style.css}">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>
          Courses
          <div class="logout">
            <span id="currentUserLogin" th:text="${session.SPRING_SECURITY_CONTEXT.Authentication.Principal.Username}"
                  th:if="${session.SPRING_SECURITY_CONTEXT.Authentication.Authenticated}">
              user-a@tc.edu
            </span>
            <a href="/logout">
              <i class="icon-off"></i>
            </a>
          </div>
        </h1>
      </header>
      <div class="courses-top-control">
        <a class="btn" href="/mycourses">My Courses</a>
        <a id="createCourseButton" class="btn btn-primary" href="/courses/create" th:if="${isLecturer}">Create</a>
        <div class="search-box">
          <form class="form-search" action="/courses" method="post">
            <select class="span3" th:field="${categoryModel.id}">
              <option value="0">All</option>
              <option th:each="category : ${categoryList}" th:value="${category.id}" th:text="${category.name}"/>
            </select>
            <button class="btn" type="submit">Apply</button>
          </form>
        </div>
      </div>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class="span1">Id</th>
            <th>Course</th>
            <th class="span3">Category</th>
            <th class="span1">Grade</th>
            <th class="span1">S/A</th>
            <th class="span2">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr th:if="coursesList" th:each="course,iterStat : ${coursesList}">
            <td th:text="${iterStat.count}"/>
            <td>
              <a th:href="@{/courses/{id}(id=${course.course.id})}"><span th:text = "${course.course.name}"/></a>
              <span th:class="${course.label}" th:text="${course.course.courseState.name}"/>
            </td>
            <td><span th:text="${course.course.category.name}"/></td>
            <td>
              <span th:if="${course.grade!=0}" th:text="${course.grade}"/>
            </td>
            <td>
              <a th:href="@{/courses/{id}/participants(id=${course.course.id})}">
                <span th:if="${course.subscribersCount+course.attendeeCount}!=0" th:text="${course.subscribersCount}"/>
                <span th:if="${course.attendeeCount}!=0" th:inline="text">/[[${course.attendeeCount}]]</span>
              </a>
            </td>
            <td>
              <div class="btn-group">
                <a class="btn btn-mini" th:if="${course.action!=null}" th:href="@{/courses/{id}/{actionType}(id=${course.course.id}, actionType=${course.action})}" th:text="${course.text}">subscribe</a>
                <a class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#" th:if="${course.owner&&course.action!=null}"><span class="caret"></span></a>
                <ul class="dropdown-menu" th:if="${course.owner}">
                  <li>
                     <a th:if="${course.draft||course.rejected}" class="btn btn-mini" th:href="@{/courses/{id}/update(id=${course.course.id})}">Review</a>
                     <a th:if="${course.draft||course.rejected}" class="btn btn-mini" th:href="@{/courses/{id}/delete(id=${course.course.id})}">Delete</a>
                     <a th:if="${course.ready}" class="btn btn-mini" th:href="@{/courses/{id}/start(id=${course.course.id})}">Start</a>
                     <a th:if="${course.inProgress}" class="btn btn-mini" th:href="@{/courses/{id}/finish(id=${course.course.id})}">Finish</a>
                     <a th:if="${course.finished}" class="btn btn-mini" th:href="@{/courses/{id}/notify(id=${course.course.id})}">Notify</a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <script th:src="@{/resourses/jquery-1.8.1.min.js}"></script>
    <script th:src="@{/resourses/bootstrap-2.2.2.min.js}"></script>
  </body>
</html>
