<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" media="all"
        href="../../resourses/style.css"
        th:href="@{/resourses/style.css}">
</head>
  <body>
    <div class="container">
      <header>
        <h1>
          Delete Course
          <div class="logout">
            <span id="currentUserLogin" th:text="${session.SPRING_SECURITY_CONTEXT.Authentication.Principal.Username}"
                  th:if="${session.SPRING_SECURITY_CONTEXT.Authentication.Authenticated}">
              user-a@tc.edu
            </span>
            <a href="/logout">
              <i class="icon-off"></i>
            </a>
          </div>
        </h1>
      </header>

      <form class="form-horizontal" name="subscribeModel" action="/courses/delete" method="post">
        <fieldset>
          <input name="courseId" type="hidden" th:value="${courseId}"/>

          <div class="control-group">
            <div class="control-label">Name</div>
            <div id="titleField" class="controls text" th:text="${course.name}">
              Project Management
            </div>
          </div>
          <div class="control-group">
            <div class="control-label">Category</div>
            <div id="categoryField" class="controls text" th:text="${course.categoryName}"}>Development</div>
          </div>
          <div class="form-actions">
            <button id="deleteButton" class="btn btn-danger" type="submit">Delete</button>
            <a class="btn" href="/courses">Cancel</a>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
