<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../resourses/style.css"
          th:href="@{/resourses/style.css}">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>
          Course Details
          <div class="logout">
            <span id="currentUserLogin" th:text="${session.SPRING_SECURITY_CONTEXT.Authentication.Principal.Username}"
                  th:if="${session.SPRING_SECURITY_CONTEXT.Authentication.Authenticated}">
              user-a@tc.edu
            </span>
            <a href="/logout">
              <i class="icon-off"></i>
            </a>
          </div>
        </h1>
      </header>
      <div class="form-horizontal" >
        <div class="control-group" >
          <div class="control-label">Name</div>
          <div id="titleField" class="controls text" th:text="${course.name}">Project Management</div>
        </div>
        <div class="control-group" >
          <div class="control-label">Lecturer</div>
          <div id="ownerField" class="controls text" th:text="${course.owner}">lecturer-a@tc.edu</div>
        </div>
        <div class="control-group" >
          <div class="control-label">Category</div>
          <div id="categoryField" class="controls text" th:text="${course.categoryName}">Development</div>
        </div>
        <div class="control-group" >
          <div class="control-label">Description</div>
          <div id="descriptionField" class="controls text" th:text="${course.description}">Bla-bla-bla</div>
        </div>
        <div class="control-group" >
          <div class="control-label">Links</div>
          <div id="linksField" class="controls text" th:text="${course.links}">Bla-bla-bla</div>
        </div>
        <div class="control-group" th:if="${subscrQty!=0}">
          <div class="control-label">Subscribers</div>
          <div id="subscribersField" class="controls text" th:text="${subscrQty}"></div>
        </div>
        <div class="control-group" th:if="${attQty!=0}">
          <div class="control-label">Attendee</div>
          <div id="attendeeField" class="controls text" th:text="${attQty}"></div>
        </div>
        <div class="control-group" th:if="${grade!=0}">
          <div class="control-label">Average grade</div>
          <div id="gradeField" class="controls text" th:text="${grade}">2.5</div>
        </div>
        <div class="form-actions">
          <a class="btn" href="/courses">Back</a>
        </div>
      </div>
    </div>
  </body>
</html>
