<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" media="all"
        href="../../resourses/style.css"
        th:href="@{/resourses/style.css}">
</head>
  <body>
    <div class="container">
      <header>
        <h1>
          Evaluation
          <div class="logout">
            <span id="currentUserLogin" th:text="${session.SPRING_SECURITY_CONTEXT.Authentication.Principal.Username}"
                  th:if="${session.SPRING_SECURITY_CONTEXT.Authentication.Authenticated}">
              user-a@tc.edu
            </span>
            <a href="/logout">
              <i class="icon-off"></i>
            </a>
          </div>
        </h1>
      </header>

      <div class="alert alert-error" th:if="${errorMessage}">
        <div>
          <strong>Okay, Houston, we've had a problem here.</strong>
        </div>
        <ul th:each="error : ${errorMessage}">
          <li th:text="${error}"/>
        </ul>
      </div>

      <form class="form-horizontal" name="evaluationModel" th:object="${evaluationModel}" action="/courses/evaluate" method="post">
        <fieldset>
          <input name="courseId" type="hidden" th:value="*{courseId}"/>
          <div class="control-group">
            <div class="control-label">
              Course
            </div>
            <div id="name" class="controls text" th:text="*{name}">
              Project Management 101
            </div>
          </div>
          <div class="control-group">
            <div class="control-label">
              Lecturer
            </div>
            <div id="owner" class="controls text" th:text="*{owner}">
              lecturer-a@tc.jtc
            </div>
          </div>
          <div class="control-group">
            <label id="gradeField" class="control-label">Grade (1-5)</label>
            <div class="controls">
              <input class="span2" type="text" th:field="*{grade}"/>
            </div>
          </div>
          <div class="form-actions">
            <button id="evaluateButton" class="btn btn-success" type="submit">Evaluate</button>
            <a class="btn" href="/courses">Cancel</a>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
