<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../resourses/style.css"
          th:href="@{/resourses/style.css}">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>
          Logout
        </h1>
      </header>
      <form class="form-horizontal" action="/logout/logout1" method="post">
        <fieldset>
          <div class="control-group">
            <div class="controls text">
              You currently logged as '<span id="currentUserLogin" th:text="${session.SPRING_SECURITY_CONTEXT.Authentication.Principal.Username}"
                                             th:unless="${session.SPRING_SECURITY_CONTEXT == null}">nobody</span>'.
            </div>
            <div class="controls text">
              Are you sure you want to logout?
            </div>
          </div>
          <div class="form-actions">
              <button id="logoutButton" class="btn btn-danger" type="submit">Logout</button>
              <a class="btn" href="courses.html">Back</a>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
