<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" media="all"
        href="../../resourses/style.css"
        th:href="@{/resourses/style.css}">
</head>
  <body>
    <div class="container">
      <header>
        <h1>
          Course Participants
          <div class="logout">
            <span id="currentUserLogin" th:text="${session.SPRING_SECURITY_CONTEXT.Authentication.Principal.Username}"
                  th:if="${session.SPRING_SECURITY_CONTEXT.Authentication.Authenticated}">
              user-a@tc.edu
            </span>
            <a href="/logout">
              <i class="icon-off"></i>
            </a>
          </div>
        </h1>
      </header>

      <div class="form-horizontal">
        <div class="control-group" >
          <div class="control-label">Name</div>
          <div id="titleField" class="controls text" th:text="${course.course.name}">Project Management</div>
        </div>
        <div class="control-group" >
          <div class="control-label">Lecturer</div>
          <div id="ownerField" class="controls text" th:text="${course.course.owner}">lecturer-a@tc.edu</div>
        </div>
        <div class="control-group" th:if="${(isSubscriber||isOwner) && course.hasSubscribers}">
          <div class="control-label">Subscribers</div>
          <div id="subscribersList" class="controls text">
            <ul class="unstyled" th:each="subscr : ${course.subscribers}">
              <li th:text="${subscr}"/>
            </ul>
          </div>
        </div>
        <div class="control-group" th:if="${(isAttendee||isOwner) && course.hasAttendees}">
          <div class="control-label">Attendee</div>
          <div id="attendeeList" class="controls text">
            <ul class="unstyled" th:each="attendee : ${course.attendees}">
              <li th:text="${attendee}"/>
            </ul>
          </div>
        </div>
        <div class="form-actions">
          <a class="btn" href="/courses">Back</a>
        </div>
      </div>
    </div>
  </body>
</html>
