<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../resourses/style.css"
          th:href="@{/resourses/style.css}">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>
          <span th:inline="text">[[${actionText}]] Course</span>
          <div class="logout">
            <span id="currentUserLogin" th:text="${session.SPRING_SECURITY_CONTEXT.Authentication.Principal.Username}"
                  th:if="${session.SPRING_SECURITY_CONTEXT.Authentication.Authenticated}">
              user-a@tc.edu
            </span>
            <a href="/logout">
              <i class="icon-off"></i>
            </a>
          </div>
        </h1>
      </header>

      <div class="alert alert-error" th:if="${errorMessage}">
        <div>
          <strong>Okay, Houston, we've had a problem here.</strong>
        </div>
        <ul th:each="error : ${errorMessage}">
          <li th:text="${error}"/>
        </ul>
      </div>

      <form class="form-horizontal" name="courseModel" th:object="${courseModel}" th:action="@{/courses/{action}(action=${actionType})}" method="post">
        <fieldset>
          <div class="control-group">
            <label class="control-label">Name</label>
            <div class="controls">
              <input id="titleField" class="span5" type="text" name="name" th:value="*{name}" th:disabled="${reviewAvailable}?false:true"/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Category</label>
            <div class="controls">
              <select id="categoryField" class="span5" th:field="*{categoryId}" th:disabled="${reviewAvailable}?false:true">
                <option value="0"></option>
                <option th:each="category : ${categoryList}" th:value="${category.id}" th:text="${category.name}"/>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Description</label>
            <div class="controls">
              <textarea id="descriptionField" class="span5" rows="3" name="description" th:text="*{description}" th:disabled="${reviewAvailable}?false:true"></textarea>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Links</label>
            <div class="controls">
              <textarea id="linksField" class="span5" rows="3" name="links" th:text="*{links}" th:disabled="${reviewAvailable}?false:true"></textarea>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Minimal Subscribers</label>
            <div class="controls">
              <input id="MinSubsField" class="span5" type="text" name="minSubs" th:value="*{minSubs}" th:disabled="${reviewAvailable}?false:true"/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Minimal Attendees</label>
            <div class="controls">
              <input id="MinAttsField" class="span5" type="text" name="minAtts" th:value="*{minAtts}" th:disabled="${reviewAvailable}?false:true"/>
            </div>
          </div>
          <div class="form-actions">
            <button id="createButton" class="btn btn-primary" name="update" value="update" type="submit" th:if="${reviewAvailable}"><span th:text="${actionText}">Create</span></button>
            <button id="reviewButton" class="btn btn-warning" name="review" value="review" type="submit" th:if="${reviewAvailable}">Review</button>
            <a class="btn" href="/courses">Cancel</a>
          </div>
          <input type="hidden" name="courseState" th:value="*{courseState}"/>
        </fieldset>
      </form>
    </div>
  </body>
</html>
